__pycache__/
.venv/
venv/
.idea/
.vscode/
build/
dist/
img/
test.*
*.spec
config/backup/
cache/
save/
temp/
resources/imgs/bigmap.jpg
resources/imgs/bwmap.jpg
resources/imgs/maxloc.jpg
resources/imgs/screen.jpg
resources/imgs/sbl.jpg
resources/imgs/tbw.jpg
resources/imgs/tmp.jpg
resources/imgs/tmp_0.jpg
resources/imgs/tmp1.jpg
resources/imgs/tmp2.jpg
resources/imgs/tmp3.jpg
resources/imgs/tmp4.jpg
resources/imgs/tmp5.jpg
resources/imgs/tmp6.jpg
resources/imgs/collect
logs/
my_map
.notif
check0.txt
check5.txt
*.zip
ocr/
config/config/info.yml
config/config/info_old.yml
config/config/settings.json
config/config/currency_config.yml
version.txt
*.exe
test.py
mylib.py
mylib.bat
tmp.py
targ
tmp
big.jpg
bw.jpg
tp.jpg
tp
utils/mylib/
update.py
update.bat
info.yml
resource/imgs/roll_count_num/unmatched/
tool/simul/config/